.feed{
  margin-top: 30px;
  margin-left: 20px;
  justify-content: space-between
}

.card{
  border: solid;
  border-color: #efefef;
  border-radius: 8px;
}

.card-user{
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 8px;
}
